@{
  Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model DTO.PatientDTO

<main>
  <section class="mt-5 mb-5">
    <h1 class="text-start  border-1 border-bottom">@(Model.Id > 0 ? "Update Record" : "Add New Record")</h1>
  </section>

  <div class="container mx-auto d-flex flex-column align-items-center ">
    <form action="@Url.Action("Create", "Patient", new { area = "Admin" })" method="post" class="d-flex w-75 flex-column justify-content-center items" style="width: 100%;">
      @Html.AntiForgeryToken() <!-- This ensures the token is included -->
      <div class="d-flex flex-row gap-5 mb-3">
        <label for="drug" class="w-25 text-end">Drug</label>
        @Html.TextBoxFor(m => m.Drug, new { @class = "form-control w-100" })
        @Html.ValidationMessageFor(m => m.Drug, "", new { @class = " text-danger" })
        @*Add a validation based on the Model Errors*@
      </div>
      <div class="d-flex flex-row gap-5 mb-3">
        <label for="dosage" class="w-25 text-end">Dosage</label>
        @Html.TextBoxFor(m => m.Dosage, new { @class = "form-control w-100" })
        @Html.ValidationMessageFor(m => m.Dosage, "", new { @class = "text-danger" })
      </div>

      <div class="d-flex flex-row gap-5 mb-3">
        <label for="patient" class="w-25 text-end">Patient</label>
        @Html.TextBoxFor(m => m.Patient, new { @class = "form-control w-100" })
        @Html.ValidationMessageFor(m => m.Patient, "", new { @class = "text-danger" })
      </div>
      <div class="d-flex justify-content-center gap-3">
        @*Redirect to Index Action*@
        <button type="submit" class="btn btn-success">@(Model.Id > 0 ? "Update" : "Save")</button>
        <a class="btn btn-light" href="#" onclick="clearForm(event)">Clear All</a>
        <a class="btn btn-danger" href="@(Url.Action("Index", "Patient", new {Area ="Admin"}))">Cancel</a>
      </div>
    </form>
  </div>
</main>